<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinapplication" >
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <permission
        android:name="com.name.name.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.name.name.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinApplication"
        android:usesCleartextTraffic="true" >
        <activity android:name=".view.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".view.Alert.AlertService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".view.Alert.AddAlert" />
        <activity android:name=".view.Alert.AlertActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".view.Favorite.FavoriteMap"
            android:label="@string/title_activity_favorite_map" />
        <activity android:name=".view.Favorite.FavoriteActivity" />
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/Theme.KotlinApplication">
        </activity>
    </application>

</manifest>